/* 
@font-face {
    font-family: 'Poppins-Regular';
    src: url('/assets/font/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-Black';
    src: url('/assets/font/Poppins-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-ExtraBold';
    src: url('/assets/font/Poppins-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-ExtraBold';
    src: url('/assets/font/') format('truetype');
} */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: Poppins-Regular,Poppins-ExtraBold,Poppins-Black; */
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background: #fff;
    z-index: 100;
    transition: all 0.5s ease;
    box-shadow: 3px 0px 20.5px -4.5px #eee;
}

    .sidebar.close {
        width: 78px;
        opacity: 1;
    }

    .sidebar .logo-details {
        height: 100px;
        width: 100%;
        display: grid;
        text-align: center;
    }

        .sidebar .logo-details i {
            font-size: 30px;
            color: #fff;
            height: 50px;
            min-width: 78px;
            text-align: center;
            line-height: 50px;
        }

        .sidebar .logo-details .logo_name {
            font-size: 18px;
            color: #000;
            font-weight: 600;
            transition: 0.3s ease;
            transition-delay: 0.1s;
            text-align: center;
        }

        .sidebar .logo-details span.vender-name {
            font-size: 18px;
            color: #000;
            font-weight: 600;
            padding: 8px 0px;
            background: #f9f9f9;
        }

    .sidebar.close .logo-details .logo_name {
        transition-delay: 0s;
        opacity: 0;
        pointer-events: none;
    }

    .sidebar .nav-links {
        height: 100%;
        padding: 30px 0 150px 0;
        overflow: auto;
    }

    .sidebar.close .nav-links {
        overflow: visible;
    }

    .sidebar .nav-links::-webkit-scrollbar {
        display: none;
    }

    .sidebar .nav-links li {
        position: relative;
        list-style: none;
        transition: all 0.4s ease;
    }

        .sidebar .nav-links li:hover {
            background: #ffffff1a;
        }

        .sidebar .nav-links li .icon-link {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

    .sidebar.close .nav-links li .icon-link {
        display: block;
    }

    .sidebar .nav-links li i {
        height: 50px;
        min-width: 79px;
        text-align: center;
        line-height: 50px;
        color: #e6791a;
        font-size: 22px;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .sidebar .nav-links li.showMenu i.arrow {
        transform: rotate(-180deg);
    }

    .sidebar.close .nav-links i.arrow {
        display: none;
    }

    .sidebar .nav-links li a {
        display: flex;
        align-items: center;
        text-decoration: none;
    }

        .sidebar .nav-links li a .link_name {
            font-size: 16px;
            font-weight: 600;
            color: #000;
            transition: all 0.4s ease;
        }

    .sidebar.close .nav-links li a .link_name {
        opacity: 0;
        pointer-events: none;
    }

    .sidebar .nav-links li .sub-menu {
        padding: 6px 6px 14px 43px;
        margin-top: -10px;
        background: #ffffff;
        display: none;
    }

    .sidebar .nav-links li.showMenu .sub-menu {
        display: block;
    }

    .sidebar .nav-links li .sub-menu a {
        color: #000;
        font-size: 15px;
        padding: 10px 15px;
        white-space: nowrap;
        transition: all 0.3s ease;
    }

        .sidebar .nav-links li .sub-menu a:hover {
            opacity: 1;
        }

    .sidebar.close .nav-links li .sub-menu {
        position: absolute;
        left: 100%;
        top: -10px;
        margin-top: 0;
        padding: 6px 0px;
        border-radius: 0 6px 6px 0;
        opacity: 0;
        display: block;
        pointer-events: none;
        transition: 0s;
        box-shadow: 3px 0px 20.5px -4.5px #eee;
    }

    .sidebar.close .nav-links li:hover .sub-menu {
        top: 0;
        opacity: 1;
        pointer-events: auto;
        transition: all 0.4s ease;
    }

    .sidebar .nav-links li .sub-menu .link_name {
        display: none;
    }

    .sidebar.close .nav-links li .sub-menu .link_name {
        font-size: 16px;
        opacity: 1;
        display: block;
        color: #000000;
        font-weight: 600;
    }

    .sidebar .nav-links li:hover .sub-menu a {
        padding: 10px 15px;
    }

    .sidebar .nav-links li .sub-menu.blank {
        opacity: 1;
        pointer-events: auto;
        padding: 3px 20px 6px 16px;
        opacity: 0;
        pointer-events: none;
    }

    .sidebar .nav-links li:hover .sub-menu.blank {
        top: 50%;
        transform: translateY(-50%);
    }

    .sidebar .profile-details {
        position: fixed;
        bottom: 0;
        width: 260px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #1d1b31;
        padding: 12px 0;
        transition: all 0.5s ease;
    }

    .sidebar.close .profile-details {
        background: none;
    }

    .sidebar.close .profile-details {
        width: 78px;
    }

    .sidebar .profile-details .profile-content {
        display: flex;
        align-items: center;
    }

    .sidebar .profile-details img {
        height: 52px;
        width: 52px;
        object-fit: cover;
        border-radius: 16px;
        margin: 0 14px 0 12px;
        background: #1d1b31;
        transition: all 0.5s ease;
    }

    .sidebar.close .profile-details img {
        padding: 10px;
    }

    .sidebar .profile-details .profile_name,
    .sidebar .profile-details .job {
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        white-space: nowrap;
    }

    .sidebar.close .profile-details i,
    .sidebar.close .profile-details .profile_name,
    .sidebar.close .profile-details .job {
        display: none;
    }

    .sidebar .profile-details .job {
        font-size: 12px;
    }

.home-section {
    position: relative;
    /* background: white; */
    height: 100vh;
    left: 260px;
    width: calc(100% - 260px);
    transition: all 0.5s ease;
}


.sidebar.close ~ .home-section {
    left: 78px;
    width: calc(100% - 78px);
    /* height: 100%; */
}

.home-section .home-content {
    height: 66px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    border-bottom: 1px solid white;
    box-shadow: 0px 0px 8px 0px #c4c4c4;
    margin-bottom: 21px;
    background: white;
    padding: 10px;
}

    .home-section .home-content .bx-menu,
    .home-section .home-content .text {
        color: #11101d;
        font-size: 35px;
    }

    .home-section .home-content .bx-menu {
        margin: 0 15px;
        cursor: pointer;
    }

    .home-section .home-content .text {
        font-size: 26px;
        font-weight: 600;
    }

@media (max-width: 420px) {
    .sidebar.close .nav-links li .sub-menu {
        display: none;
    }
}

.logo-details {
    padding: 15px 0px;
}

img.user_profile {
    margin: 0px 15px;
}

.main-title {
    display: flex;
    align-items: center;
 
}

.dashboardcard-details p {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 0px;
    color: #000;
}

section.dashboard-card {
    padding-top: 10px;
}

.carddetail {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-subtittle h1 {
    font-weight: 600;
    margin-bottom: 0px;
}

.nav-item.dropdown {
    display: flex;
    justify-content: flex-end;
}

.notification-icon {
    padding-right: 20px;
    display: flex;
}

.display-picture {
    margin-left: auto;
}

    .display-picture img {
        width: 50px;
        border-radius: 50%;
        border: 2px solid #fff;
    }

        .display-picture img:hover {
            border: 2px solid #E78341;
        }

.card {
    transition: 0.5s ease;
}
/* 
    .card ul {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        background: white;
        border: 1px solid Lightgrey;
        position: absolute;
        top: 4rem;
        right: 0rem;
        border-radius: 8px;
        padding: 10px 20px 10px 20px;
        z-index: 1;
        margin-top: -55px;
        margin-right: 30px;
        
    } */
    /* .card ul {
        display: flex;
        align-items: flex-start;
        /* flex-direction: column; */
        /* background: white; */
        /* border: 1px solid Lightgrey; */
        /* position: absolute; */
        /* top: 4rem;
        right: 0rem;
        border-radius: 8px;
        padding: 10px 20px 10px 20px;
        z-index: 1;
        margin-top: -55px;
        margin-right: 30px; */
        /* width: 100%; */
  

    /* .card a {
        color: black;
        padding: 8px 10px;
        width: 200px;
    } */

        .card a:hover {
            color: #ea8813;
        }

    .card ul li {
        padding:3px 0;
        color: #000000;
        font-size: 14px;
    }

.dropdown-name p {
    font-size: 16px;
}

.hidden {
    display: none;
}

a {
    text-decoration: none;
}

.dropdown-userprofile {
    display: flex;
    align-items: center;
}

.display-picture {
    padding-right: 10px;
}

a.card {
    flex-direction: row;
    display: flex;
    align-items: center;
    box-shadow: 0 1px 8px rgb(236 236 236)
}


span.logo_name.logo-name {
    margin-top: 12px;
}

.dropdown-name {
    margin-left: 15px;
}

section.dashboard-card .dashboardcard-details .card1 {
    box-shadow: none;
    border-radius: 12px;
    background-color: antiquewhite;
}

.sidebar .nav-links li .sub-menu a:hover {
    color: #e6791a;
}

.card.card-primary.dashboardcard-details {
    box-shadow: 0px 5px 12px 0px #e7e7e7;
    border-radius: 15px;
    padding: 30px 26px;
    margin-bottom: 23px;
}
section.dashboard-card2 .card.card-primary.dashboardcard-details {
    box-shadow: 0px 2px 12px 0px #e9e9e9 !important;
}

section.dashboard-card .card-subtittle h1 {
    font-size: 40px;
}

section.dashboard-card .card-subtittle h1, section.dashboard-card .card-subtittle p {
    color: #000;
}
section.dashboard-card .card-subtittle p {
    font-size: 21px;
}

.card.card-icon {
    padding: 10px;
    box-shadow: none;
    border-radius: 15px;
}


.card-subtittle {
    margin: 0px;

}
section.dashboard-card .card {
    background: #fff;
}

.card.card-primary.dashboardcard-details.card4 .card-subtittle h1 {
    color: #9d700b;
}

.card-deck {
    margin-top: 10rem;
}


.dashboard-card2 {
    margin-top: 73px;
}


.my__img {
    height: 86px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 18px;
    background: #f6df8e;
}


.card.card-icon1 {
    padding: 14px;
    border-radius: 15px;
}

.carddetail1 {
    display: flex;
    justify-content: center;
    margin-top: 29px;
}

.card5 .carddetail1 h1 {
    color: #23b7e5;
}

.card6 .carddetail1 h1 {
    color: #845adf;
}

.card7 .carddetail1 h1 {
    color: #26bf94;
}

.card8 .carddetail1 h1 {
    color: #9d700b;
}

.card-subtittle1 h1 {
    font-weight: 600;
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    justify-content: center;
}

section.bg-white {
    margin-top: 70px;
}
section.bg-white .card-subtittle h1
{
    color:black
}
nav-item.dropdown {
    display: flex;
    justify-content: flex-end;
}
.card-icon { 
    height:90px;
    width: 90px; 
}
.card-icon1 {
    height: 90px;
    width: 90px;
}

 i.fas {
    padding-right: 38px;
} 